.profile_Header{
  display: flex;
  align-items: center;
  width: 100%;
}
.profile__nav{
  /* background: #000; */
width: 35%;
}


.tab__sections{
  margin: 5px 15px;
}



.Posts__wrapper{
  height: calc(100vh - 135px);
    margin-top: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.house_info_wrapper{
  height: calc(100vh - 135px);
    overflow-y: auto;
    /* background: #000; */
}

.widgets{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.left_widget_container{
  left: 0;
  
}
.right_widget_container{
  margin: auto;
}
/* *********
 Post section start 
*********** */

.Posts__section{
  height: calc(100vh - 130px);
  overflow-y: auto;
}
.post_container_1{
  margin-top: 10px;
display: flex;
gap: 1rem;
}
.left_container{
width: 50%;
}
.right_container{
  width: 50%;
}
.post_container_2{
margin-top: 10px;
}

/* *********
 Post section end 
*********** */

/* *********
 Profile section start 
*********** */

.profile__sections{
  width: 100%;
  /* height: 100px; */
 
}
.create_button{
  margin: 10px 0;
  padding: 10px;
}
.profile_wrapper{
  height: calc(100vh - 170px);
  overflow-y: auto;
}
.container_1{
  display: flex;
  width: 100%;
  gap: 8px;
  /* grid-template-columns: 2fr 1fr; */
  /* align-items: center; */
  /* justify-content: flex-start; */
  /* margin-bottom: 20px; */
}
.left_side{
width: 70%;
}
.right_side{
  width: 30%;
}
.container_2{

}
.container_3{

}
.scrollUp__icon {
  color: var(--orange);
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  right: 30px;
  bottom: 0;
  animation: MoveUpDown 4s linear infinite;
}
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@media screen and (max-width: 769px) {
  .profile_Header{
    flex-direction: column;
  }
  .profile__nav{
    /* background: #000; */
  width: 100%;
  }
  .profile__sections{
    width: 100%;
     
  }

  .Posts__wrapper{
    height: calc(100vh - 190px);
      margin-top: 10px;
      overflow-y: auto;
      margin-bottom: 10px;
      border-radius: 10px;
  }

  .house_info_wrapper{
    height: calc(100vh - 200px);
      overflow-y: auto;
  }

  /* .Profile__wrapper {
    grid-template-columns: 1fr;
  }
  .Profile__right {
    width: 100%;
    position: fixed;
    top: 0;
  }
  .RightSide {
    position: fixed;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
  }
  .navIcons {
    margin-top: 0rem;
  }
  .navIcons > img {
    cursor: pointer;
  }

  .navIcons > a > img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .Profile__left {
    width: 100%;
    position: fixed;
    top: 80px;
  }

  .Profile-center {
    margin-top: 300px;
    height: calc(100vh - 370px);
    z-index: 5;
  } */
}
