:root {
    --yellow: #f5c32c;
    --orange: #fca61f;
    --black: #242d49;
    --red: #f92525;
    --btnHoverColor: #5bc8ab;
    --gray: rgba(36, 45, 73, 0.65);
    --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
    --hrColor: #cfcdcd;
    --cardColor: rgba(255, 255, 255, 0.64);
    /* --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%); */
  
    --buttonBg: linear-gradient(98.63deg, #5bc8ab 0%, #3cb7ca 100%);
    --removeButtonBg: linear-gradient(98.63deg, #e15a3c 0%, #d86c3a 100%);
    --warngingButton: linear-gradient(98.63deg, #b0f314 0%, #cdd620 100%);
    --warningHoverColor: #e5ee41;
    --inputColor: rgba(40, 52, 62, 0.07);
    --photo: #4cb256;
    --video: #4a4eb7;
    --location: #ef5757;
    --shedule: #e1ae4a;
  }

  .App {
    display: flex;
    overflow: hidden;
    color: var(--black);
    background: #f3f3f3;
    /* font-family: "Roboto", sans-serif; */
    /* background: #000; */
  }

  .body_container {
    /* overflow: hidden; */
    height: 100vh;
    flex: 1;
    margin: 0 10px 0;
  }
  .body__wrapper {
    height: 87%;
    margin-top: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .sidebar_container {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .error__msg {
    padding: 10px 20px;
    color: #e15a3c;
  }
  .card {
    /* padding-bottom: 35px; */
  
    /* margin: 10px 0; */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
  }
 
  
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: rgba(102, 211, 221, 0.867);
  /* background: var(--buttonBg); */
  filter: blur(72px);
}

.card {
  /* padding-bottom: 35px; */

  /* margin: 10px 0; */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
.title {
  color: gray;
  font-weight: 700;
}
.subtitle {
  color: gray;
  font-weight: 600;
}
/* form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
} */
input,
select {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 10px;
  flex: 1;
}
.btns {
  height: 35px;
  padding: 7px;
  margin: 2px;
}

button {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  /* margin: 10px;
  padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* .button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100ms ease-out;
} */
button:disabled {
  /* height: 2rem; */
  background: silver;
  pointer-events: none;
  cursor: wait;
}
/* .button:hover {
  cursor: pointer;
  color: var(--btnHoverColor);
  background: transparent;
  border: 2px solid var(--btnHoverColor);
} */

.removeButton {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  /* margin: 10px;
  padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.removeButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* .removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--removeButtonBg);
  transition: all 100ms ease-out;
}
.removeButton:hover {
  cursor: pointer;
  color: var(--red);
  background: transparent;
  border: 2px solid var(--red);
} */
.removeButton:disabled {
  background: silver;
  pointer-events: none;
  cursor: wait;
}

.warningButton {
  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );
  /* margin: 10px;
  padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.warningButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* .warningButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--warngingButton);
  transition: all 100ms ease-out;
}
.warningButton:hover {
  cursor: pointer;
  font-weight: 900;
  color: var(--warningHoverColor);
  background: transparent;
  border: 3px solid var(--warningHoverColor);
} */
.warningButton:disabled {
  background: silver;
  pointer-events: none;
  cursor: wait;
}

.updateButton {
  background-image: linear-gradient(
    to right,
    #f09819 0%,
    #edde5d 51%,
    #f09819 100%
  );
  /* margin: 10px;
  padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.updateButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  color: gray;
  margin-top: 18px;
  padding: 10px;
  height: 50px;
  align-items: center;
}



/* Scrollbar design start */

::-webkit-scrollbar {
  /* display: none;  */
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  /* background-color: darkgrey; */
}

::-webkit-scrollbar-thumb {
  background-image: var(--buttonBg);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
/* Scrollbar design end */

.ag-root-wrapper {
  border-color: transparent !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.spinner {
  margin: auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  /* background-color: rgb(255, 255, 255); */
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 18%,
    rgba(96, 96, 96, 1) 80%
  );

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .body_container {
    height: calc(100vh - 50px);
  }
  .table__wrapper {
    z-index: 1;
  }
  .sidebar_container {
    z-index: 999;
  }
}

/* Dark mode */
/* 
@media (prefers-color-scheme: dark) {
  .App {
    background-color: black;
    color: #f3f3f3;
  }
  .ag-root-wrapper {
    border-color: transparent !important;
    background: gray !important;
    color: white !important;
  }
  .ag-theme-alpine {
    --ag-header-height: 30px;
    --ag-header-foreground-color: white;
    --ag-header-background-color: gray;
    --ag-header-cell-hover-background-color: rgb(80, 40, 140);
    --ag-header-cell-moving-background-color: rgb(80, 40, 140);
  }
  .title,
  .subtitle {
    color: white;
  }
} */