

.btn__container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  height: 3.5rem;
  margin: 10px 0;
  gap: 8px;
}
.bills__container {
  display: flex;
  height: calc(100vh - 150px);
  width: 100%;
  overflow-y: auto;
  gap: 10px;
  /* align-items: center; */
}
.billTable {
  width: 70%;
}
.tempTable {
  width: 30%;
}

.makeBill__button {
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
    /* margin: 10px;
    padding: 15px 45px; */
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .makeBill__button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 




         
         
.tempBill__button {
  background-image: linear-gradient(to right, #43C6AC 0%, #191654  51%, #43C6AC  100%);
  /* margin: 10px;
  padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.tempBill__button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}



@media screen and (max-width: 768px) {
 
  .bills__container {
    display: block;
    height: calc(100vh - 225px);
  }
  .billTable {
    /* margin-right: 10px; */
    width: 100%;
  }
  .tempTable {
    width: 100%;
  }
  .btn__container {
    grid-template-columns: auto auto auto;
  }
}
