.Posts {
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */
        height: calc(100vh - 20px);
        overflow-y: scroll;
        /* display: flex;
        flex-direction: column;
        gap: 1rem; */
        
}
