.HomeInfoCard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;
  /* margin-top: 250px; */
}

@media screen and (min-width: 769px) {
  .HomeInfoCard {
    position: fixed;
    width: 280px;
    margin-top: 250px;
  }
}
